body {
  overflow: auto;
  padding: 10px;
}

html, body {
  height: 100%;
}

#header {
  margin-bottom: 20px;
}

input[type="text"] {
  display: inline-block;
  margin-left: 10px;
  width: calc(100% - 50px);
}
